@page "/counter"
@using Backlang.Codeanalysis.Parsing

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current Error Count: @errorCount</p>
<p role="status">Error: @error</p>

<button class="btn btn-primary rounded-md m-3" @onclick="IncrementCount">Click merrr</button>

@code {
    private int currentCount = 0;
    private int errorCount = 0;
    private string error = "";

    private void IncrementCount()
    {
        currentCount++;

        var p = Backlang.Codeanalysis.Parsing.Parser.Parse(new SourceDocument("web.back", "public static fc main() -> none {}"));

        errorCount = p.Messages.Count;

        if(errorCount > 0)
        {
            error = p.Messages.First().Text;
        }
    }
}
