@page "/"
@using Backlang.Codeanalysis.Parsing

<PageTitle>Index</PageTitle>

<TextEditor @bind-Text="@Code" />

<p role="status">Current Error Count: @errorCount</p>
<p role="status">Error: @error</p>
<p role="status">text: @Code</p>

<button class="btn btn-primary rounded-md m-3" @onclick="Compile">Compile</button>

@code {
	public string Code { get; set; }

	private int errorCount = 0;
	private string error = "";

	private void Compile()
	{
		var p = Parser.Parse(new SourceDocument("web.back", Code));

		errorCount = p.Messages.Count;

		if (errorCount > 0)
		{
			error = string.Join("\n", p.Messages);
		}
	}
}