<div class="flex items-center"><img class="h-14 p-1 pl-2" src="/images/logo.svg">
    <h2 class="-ml-3 font-roboto text-3xl font-thin text-[#57B1FF]">@Title</h2>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

}