<header class="flex h-16 sticky top-0 z-40 bg-slate-50 shadow-md border-b px-6 mx-16">
    <div class="flex w-1/2 items-center justify-start"><a class="focus:outline-none" href="#/">
            <HeaderText Title="acklang Playground" />
        </a></div>

    <div class="flex w-1/2 items-center justify-end">
        <DiscordButton />
        <GithubButton />
    </div>
</header>
